doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav.pug
    block content
  script(
    src='https://code.jquery.com/jquery-3.4.1.js' 
    integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU='
    crossorigin='anonymous'
    )
  script(src='/javascripts/index.js')
